@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@layer components{
    .categories6{
        @apply font-semibold absolute top-0 right-0 bg-white shadow-xl shadow-slate-200 rounded-full text-[#d51243] w-8 h-8  text-center pt-2 text-xs   transition ease-in-out duration-1000 group-hover:text-white group-hover:bg-[#d51243]
    }
}

/* home_page img hover */

@layer components{
    /* product area HOME PAGE */
    .pro_addicon{
        @apply  bg-white p-1.5 md:mx-12 sm:mx-16 xs:mx-10 mx-28  rounded-md space-x-3 text-[#999] shadow-sm shadow-[#999] text-sm transition duration-700 ease-in-out group-hover:-translate-y-6
       
    }
    .related_proicon{
        @apply  bg-white p-1.5  rounded-md space-x-3 text-[#999] shadow-sm shadow-[#999] text-sm transition duration-700 ease-in-out group-hover:-translate-y-6 hover:bg-[#d51243] hover:text-white
    }
    .img_info{
        @apply text-[15px] font-normal transition ease-in-out duration-1000 hover:text-[#d51243]  cursor-pointer text-[#777]
    }
    .star{
        @apply text-[#d51243]
    }
    .img_rating_area{
        @apply lg:top-[400px] md:top-[440px] sm:top-[490px] xs:top-[380px] top-[550px]
    }
    .product_4icon {
        @apply lg:top-28 md:top-32 sm:top-40 xs:top-32 top-52
    }
    /* footer */
    .footer-links{
        @apply text-[17px] font-normal text-[#777] transition ease-in-out duration-1000 hover:text-[#d51243] hover:translate-x-3 mb-3
    }
    .btn{
        @apply text-[14px] font-semibold py-3 px-6 rounded-md bg-[#d51243] text-white 
    }
    .hover_text{
        @apply hover:text-[#d51243] ease-in-out duration-300
    }
    /* blog btn */
    .bttn{
        @apply border px-5 py-0.5 text-[13px] text-[#777] hover:bg-[#d51243] hover:text-white ease-in-out duration-700 uppercase font-semibold
    }

    /* category blog details */
    .category-sub{
        @apply flex justify-between text-[13px] text-[#777] font-semibold uppercase  border py-[10px] px-[15px] items-center
    }

    /* shop location 2 */

    .span{
        @apply text-[16px] text-[#777] font-semibold transition ease-in-out duration-1000 hover:text-[#d51243] 
    }

    /* footer2 footer-widge */

    .footer2{
        @apply text-[#a0a0a0] pr-[18px] text-[17px] mb-2.5 inline-block relative before:absolute before:content-[''] before:h-[18px] before:w-[1px] before:bg-[#303030] before:right-[5px] before:top-[20%]  hover:underline
    }
}